.input{
    display: block;
    margin: 3px;
}
fieldset{
    border-radius:0.5cm;
    margin: 10px;
    margin-top: 1px;
    width: 40%;
    padding: 10px;
}
h1{
    margin-left: 10px;
    margin-bottom: 0%;
}
h2{
    margin: 0%;.input{
    display: block;
    margin: 3px;
}
fieldset{
    border-radius:0.5cm;
    margin: 10px;
    margin-top: 1px;
    width: 40%;
    padding: 10px;
}
h1{
    margin-left: 10px;
    margin-bottom: 0%;
}
h2{
    margin: 0%;
}
label{
    margin: 1%;
}
}
label{
    margin: 1%;
}
